name: Test Reusable

on:
  workflow_call:
    inputs:
      message:
        description: 'Test message'
        required: true
        type: string

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Print message
        env:
          MSG: ${{ inputs.message }}
        run: echo "$MSG"
